In [1]:
aList = ["John",33,"Toronto",True]
print(aList)

['John', 33, 'Toronto', True]

In [4]:
Mahasiswa = ["Syawaludin Fazri,2020071004,INF,Desain dan Analisis Algoritma,Rabu-15-Sep-2021,Universitas Pembanguna Jaya",True]
print(Mahasiswa)

['Syawaludin Fazri,2020071004,INF,Desain dan Analisis Algoritma,Rabu-15-Sep-2021,Universitas Pembanguna Jaya', True]

In [5]:
bin_colors=['Red','Green','Blue','Yellow']
bin_colors[2]

'Blue'

In [6]:
Mahasiswa=['Syawaludin Fazri','2020071004','INF','DAA','Rabu-15-Sep-2021','UPJ']
Mahasiswa[2]

'INF'

In [13]:
bin_colors=['Red','Green','Blue','Yellow']
bin_colors[1:3]

['Green', 'Blue']

In [19]:
Mahasiswa=['Syawaludin Fazri','Rajwa','Dony','Aldo','Adi']
for aMahasiswa in Mahasiswa:
  print("universitas Pembangunan Jaya Adalah Kampus " + aMahasiswa)

universitas Pembangunan Jaya Adalah Kampus Syawaludin Fazri
universitas Pembangunan Jaya Adalah Kampus Rajwa
universitas Pembangunan Jaya Adalah Kampus Dony
universitas Pembangunan Jaya Adalah Kampus Aldo
universitas Pembangunan Jaya Adalah Kampus Adi

In [18]:
bin_colors=['Red','Green','Blue','Yellow']
bin_colors[1]
bin_colors[2:]

['Blue', 'Yellow']

In [24]:
UPJ=('Universitas','Pembangunan','Jaya')
UPJ[2]
UPJ[1:]

('Pembangunan', 'Jaya')

In [30]:
Nested_Tuple=(100,(200,400,600),300,(400,800))
Nested_Tuple

(100, (200, 400, 600), 300, (400, 800))

In [32]:
Nested_Tuple=(100,(200,400,600),300,(400,800))
Nested_Tuple [0]

100

In [33]:
Nested_Tuple=(100,(200,400,600),300,(400,800))
Nested_Tuple [1]

(200, 400, 600)

In [34]:
bin_colors={
    "manual_color":"Yellow",
    "approved_color":"Green",
    "refused_color":"Red"
}

print(bin_colors)
{'manual_color':'Yellow','approved_color':'Green','refused_color':'Red'}

{'manual_color': 'Yellow', 'approved_color': 'Green', 'refused_color': 'Red'}

{'approved_color': 'Green', 'manual_color': 'Yellow', 'refused_color': 'Red'}

In [35]:
bin_colors.get('approved_color')

'Green'

In [36]:
bin_colors['approved_color']

'Green'

In [38]:
bin_colors['approved_color']="Purple"
print (bin_colors)

{'manual_color': 'Yellow', 'approved_color': 'Purple', 'refused_color': 'Red'}

In [43]:
green = {'grass','leaves','leaves'}
print(green)

{'leaves', 'grass'}

In [49]:
import pandas as pd
df=pd.DataFrame([
['1','Fares',32,True],
['2','Elena',23,False],
['3','Steven',40,True]])

In [50]:
df.columns = ['id','name','age','decision']

In [51]:
df

  id    name  age  decision
0  1   Fares   32      True
1  2   Elena   23     False
2  3  Steven   40      True

In [52]:
df[['name','age']]

     name  age
0   Fares   32
1   Elena   23
2  Steven   40

In [53]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [54]:
import pandas as pd
df=pd.DataFrame([
['1','Informatika',50,30,20],
['2','Sistem Informasi',55,30,25],
['3','Teknik Sipil',40,30,10]])

In [60]:
import numpy as np

In [61]:
myMatrix = np.array([[11,12,12],[21,22,23],[31,32,33]])
print(myMatrix)

[[11 12 12]
 [21 22 23]
 [31 32 33]]

In [62]:
print(type(myMatrix))

<class 'numpy.ndarray'>

In [63]:
biodata ={"Nama":"Syawaludin Fazri","NIM":2020071004,"Prodi":"Informatika","Universitas":"UPJ"}
print(biodata)

{'Nama': 'Syawaludin Fazri', 'NIM': 2020071004, 'Prodi': 'Informatika', 'Universitas': 'UPJ'}

In [80]:
class Stack:
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def push(self, item):
        self.items.append(item)
    def pop(self):
        return self.items.pop()
    def peek(self):
        return self.items[len(self.items)-1]
    def size(self):
        return len(self.items)

stack = Stack()
stack.push('Red')
stack.push('Green')
stack.push('Blue')
stack.push('Yellow')

print(stack.pop())

print(stack.isEmpty())

Yellow
False

In [81]:
class Queue(object):
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def enqueue(self, item):
        self.items.insert(0, item)
    def dequeue(self):
        return self.items.pop()
    def size(self):
        return len(self.items)

queue = Queue()
queue.enqueue('Red')
queue.enqueue('Green')
queue.enqueue('Blue')
queue.enqueue('Yellow')

print(queue.size())

print(queue.dequeue())
print(queue.dequeue())

4
Red
Green